
/* body */

body {
   text-align: center;
}

h1, .section-heading { 
   font-family: 'Waterfall', cursive;
   font-weight: bold;
}

h3:not(.feature-title) {
   font-family: 'corinthia', cursive;
}

p, .feature-title, .feature-item{
   font-family: 'Open Sans', sans-serif;
}

.heading-light {
   color: #ceb698;
}


.heading-dark {
   color: #62574a
}

.light-section {
   background-color: #e3ece9;
}

.color-section {
   background-color: rgba(127, 171, 179, 0.8);
}

/* Navbar */


/* Title Section */

.abby-certs {
   font-size: small;
}

.intro-title {
   
   position: relative;
   top: 100px;
}

/* What I provide Section */

.what-i-provide {
   padding-top: 15%;
}

.abby-scrubs {
   align-items: center;
   justify-content: center;
}

.abby-scrubs-img {
   width: 55%;
   height: auto;
   border-radius: 50%;
}

.features-list {
   list-style: disc;
   padding: 7% 15%;
   text-align: left;
   justify-content: center;
}

.feature-item {
   padding-bottom: 1.5rem;
   font-size: 1.25rem;
}
/* Who I help */

.who-i-help {
   padding: 15% 15%;
}

.feature-box {
   padding: 4%;
}


.icon {
   color: rgba(48, 87, 114, 0.8);
   margin-bottom: 1rem;
}

.icon:hover {
   color: rgba(157, 225, 112, 0.8);
}

/* Who I help */

/* About */

.about {
  padding: 15% 10% 3%;
}

/* Resources */

.resource {
   padding: 3% 3%;
}